html {
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
}

#content{
	color: white; 
	background:#111; 
	background:url(../images/background-black.png);
	padding: 20px; 
	margin:30px auto;
	text-align:left;
	position: relative;
}

@media (min-width: 960px) {
	#content {
		width:960px; 
	}
	#refer{
		width:550px;
		padding-left: 90px;
	}
	.span3 {
		width: 260px;
	}
	#refer .span3.media {
		margin-right: 30px;
	}
}

@media (max-width: 959px) {
	#content {
		width:600px; 
	}
	#refer{
		width:600px;
	}
	.span3 {
		width:600px;
	}
}



.span3 {
	float: left;
}
#refer {
	margin: 0 auto;
}


h1 {
	cursor: pointer;
	font-size: 2.95em;
	margin: 10px;
	padding-bottom: 20px;
}
h1 span {
	font-size: 0.7em;
}
h1 a {
	text-decoration: none;
	color: white;
}

nav, h1 {
	text-align: center;
}

nav, h2 {
	font-size: 1.6em;
}







.name {
float: left;
font-size: 1.2em;
}




#avatars {
width: 600px;
margin: 0px auto;
}

#avatars p {
text-align: center;
font-weight: bold;
font-size: 1.2em;
}

ul.media li {
margin-bottom: 17px;
}

ul.links li {
margin-bottom: 17px;
}

footer {
margin: 0 auto;
margin-top: 10px;
text-align: center;
font-size: 0.9em;
line-height: 1.4em;
width: 600px;
}

footer img {
height: 50px;
margin-right: 7px;

}

footer .links {
float: left;
position: relative;
left: 4px;
top: -6px;
}
footer img.icon {
height: 16px;
}
footer .left {
float: left;
}


a {
font-weight: bold; 
color:#CCC;
}
a:hover  {
text-decoration:none;
}

small{
font-size: 0.7em;
}

.cleaner { clear: both; width: 100%; height: 5px; font-size: 0px;  }

.col3 {
float:left;
width: 193px;
margin-right: 10px
}
.col3 img {
width: 180px;
}

.col3.last {
margin-right: 0px;
}

.col2 {
float:left;
width: 300px;
}

.lewo {
float: left;
}
.prawo {
float: right;
}

header .prawo {
margin-top: 128px;
margin-right: 12px;
text-align: right;
}

p {
margin-top: 1px;
margin-bottom: 14px;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}

.jobs {
text-align: center;
}

.jobs .big{
font-weight: bold;
font-size: 1.4em;
line-height: 1.8em;
display: block;
}

.jobs .big.no {
margin-top: 0;
}

.span3 {

}

li {
margin-left: 20px;
}

.i {
width: 32px;
height: 32px;
background: url(../images/social.png);
display: block;
float: left;
}

#i2 {
background-position: -32px 0;
}
#i3 {
background-position: -64px 0;
}
#i4 {
background-position: -96px 0;
}
#i5 {
background-position: -128px 0;
}
#i6 {
background-position: -160px 0;
}

.middle {
margin-left: 100px;
}

.a {
height: 50px;
background: url(../images/hacker.png);
display: block;
float: left;
margin-right: 7px;
}

#a1 {
width: 123px;
}
#a2 {
width: 168px;
background-position: -123px 0;
}
#a3 {
width: 129px;
background-position: -291px 0;
}      
#a4 {
width: 138px;
background-position: -420px 0;
}