html {
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
}

#content{
	color: white; 
	background:#111; 
	background:url(../images/background-black.png);
	padding: 20px; 
	margin:30px auto;
	text-align:left;
	position: relative;
}

@media (min-width: 600px) {
	#awatars {
		width: 600px;
		margin: 0 auto;
	}

	#content {
		width:760px; 
	}
	#contentMain{
		display: inline-block;
		width: 720px;
		margin: 0 auto;
	}
	.span3 {
		width: 280px;

	}
	.span3:first-of-type {
		margin-left: 70px;
		paddin
	}
}

@media (max-width: 599px) {
	a.forkit {
		display: none;
	}
	#awatars {
		width: 100%;
	}

	#content {
		width: 100%; 
	}
	#refer{
		width: 100%;
	}
	.span3 {
		width: 100%;
	}
}

.span3 {
	float: left;
}

.media ul:first-of-type li {
	margin-bottom: 19px;
}


h1 {
	cursor: pointer;
	font-size: 2.8em;
	margin: 10px;
	padding-bottom: 10px;
}

h2 {
	margin-bottom: 10px;
}
h1 span {
	font-size: 0.7em;
}
h1 a {
	text-decoration: none;
	color: white;
}

header {
	text-align: center;
}

h2 {
	font-size: 1.9em;
}
nav {
	font-size: 1.7em;
	margin-bottom: 10px;
}


#avatars {
margin: 0px auto;
}

#avatars p {
text-align: center;
font-weight: bold;
font-size: 1.2em;
}

footer {
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	font-size: 0.9em;
	line-height: 1.4em;
	width: 600px;
}

footer img {
	height: 50px;
	margin-right: 7px;
}

footer img.icon {
	height: 16px;
}

small {
	font-size: 0.7em;
}

a {
	font-weight: bold; 
	color:#CCC;
}
a:hover  {
	text-decoration:none;
}

.cleaner { clear: both; width: 100%; height: 5px; font-size: 0px;  }

.col3 {
	float:left;
	width: 193px;
	margin-right: 10px
}
.col3 img {
	width: 180px;
}

.col3.last {
	margin-right: 0px;
}

li {
	margin-left: 20px;
}

.a {
height: 50px;
background: url(../images/hacker.png);
display: block;
float: left;
margin-right: 7px;
}

#a1 {
width: 123px;
}
#a2 {
width: 168px;
background-position: -123px 0;
}
#a3 {
width: 129px;
background-position: -291px 0;
}      
#a4 {
width: 138px;
background-position: -420px 0;
}

.footerlinks {
	width: 240px;
	margin: 0 auto;
}