html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* { box-sizing: border-box }
h3 { font-size: 1.3em; margin-bottom: 15px }
p { margin-bottom: 15px }
a { color: yellow; text-decoration: none; transition: all 0.5s;}
a:hover { color: white; }
blockquote { padding: 15px; border: 2px solid white; font-style: italic;}
strong { font-size:1.1em;}


html {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

.video-container {
  width: 137px;
  float: left;
}

#cube figure.top {
  padding: 5px 0 0 0;
}
.domain {
  word-break: break-all;
  padding: 3px;
  line-height: 29px;
  background: rgba(200, 200, 200, 0.3);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 5px;

  img {
    height: 28px;
    position: relative;
    top: 7px;
  }
}



.container {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  perspective: 1000px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#cube-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 40s linear;
}

#cube figure {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 3px solid black;
  padding: 10px;
  font-size: 1em;
  line-height: 1.2em;
  color: white;
  margin: 0;
  backface-visibility: visible;
  -webkit-user-select: none; // http://caniuse.com/#feat=user-select-none
  user-select: none;
  background: rgba( 80,80,80, 0.9 ); 
}

#cube .front  {
          transform:                    translateZ( 150px );
}
#cube .back   {
          transform: rotateX( -180deg ) rotateZ(180deg) translateZ( 150px );
}
#cube .right {
          transform: rotateY(   90deg ) translateZ( 150px );
}
#cube .left {
          transform: rotateY(  -90deg ) translateZ( 150px );
}
#cube .top {
          transform: rotateX(   90deg ) translateZ( 150px );
}
#cube .bottom {
          transform: rotateX(  -90deg ) translateZ( 150px );
}