/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




html {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html, body {
  height: 100%;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  perspective: 1000px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#cube-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 10s linear;
}

#cube figure {
  display: block;
  position: absolute;
  width: 194px;
  height: 194px;
  border: 3px solid black;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  backface-visibility: hidden;
  -webkit-user-select: none; // OTHER PREFIXES? CAN I USE...
}

#cube.panels-backface-invisible figure {
  backface-visibility: hidden;
}

#cube .front  { background: rgba( 80,80,80, 0.9 ); }
#cube .back   { background: rgba( 80,80,80, 0.9 ); }
#cube .right  { background: rgba( 80,80,80, 0.9 ); }
#cube .left   { background: rgba( 80,80,80, 0.9 ); }
#cube .top    { background: rgba( 80,80,80, 0.9 ); }
#cube .bottom { background: rgba( 80,80,80, 0.9 ); }

#cube .front  {
          transform: translateZ( 100px );
}
#cube .back   {
          transform: rotateX( -180deg ) translateZ( 100px );
}
#cube .right {
          transform: rotateY(   90deg ) translateZ( 100px );
}
#cube .left {
          transform: rotateY(  -90deg ) translateZ( 100px );
}
#cube .top {
          transform: rotateX(   90deg ) translateZ( 100px );
}
#cube .bottom {
          transform: rotateX(  -90deg ) translateZ( 100px );
}