html {
	min-width: 320px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.8em;
	color: #333;
}

#content{
	color: white;
	background:#111;
	background:url(../images/background-black.png);
	padding: 5%;
	margin: 0 auto;
	text-align:left;
	position: relative;
}

.col3 {
	text-align: center;
	float:left;
}

@media (min-width: 769px) {
	html {
		background: url(../images/background.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	#avatars {
		display: block;
		width: 660px;
		margin: 55px auto 0 auto;
	}

	#content, footer {
		width:760px;
	}
	.span3 {
		width: 360px;
	}
	.span3:first-of-type {
		padding-right: 40px;
	}

	.col3 {
	width: 213px;
	margin-right: 10px
	}
	.col3 img {
		width: 200px;
	}

	.col3:nth-of-type(3n) {
		margin-right: 0px;
	}
}

@media (max-width: 768px) {
	html {
		background: black;
	}
	#avatars {
		width: 100%;
	}

	#content {
		width: 90%;
	}
	#refer{
		width: 100%;
	}
	.span3 {
		width: 100%;
	}

	.col3 {
		width: 50%;
	}
	.col3 img {
		max-width: 90%;
	}
}


#avatars p {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: -10px;
	margin-bottom: 10px;
}

.span3 {
	float: left;
}

ul.ulmedia li {
	margin-bottom: 25px;
}

.media ul:nth-of-type(2) li {
	margin-bottom: 19px;
}
.misc ul:nth-of-type(2) li {
	margin-bottom: 19px;
}

h2 {
	margin-bottom: 10px;
	font-size: 1.8em;
}

footer {
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	font-size: 0.9em;
	line-height: 1.4em;
}

footer img {
	height: 50px;
	margin-right: 7px;
}

footer img.icon {
	height: 16px;
}
footer .links {
	margin: 0 auto;
	display: inline-block;
}

small {
	font-size: 0.7em;
}

#content a {
	font-weight: bold;
	color:#CCC;
}
#content a:hover  {
	text-decoration:none;
}

.cleaner { clear: both; width: 100%; height: 5px; font-size: 0px;  }


li {
	margin-left: 20px;
}

.a {
height: 50px;
background: url(../images/hacker.png);
display: block;
float: left;
margin-right: 7px;
}

#a1 {
width: 123px;
}
#a2 {
width: 168px;
background-position: -123px 0;
}
#a3 {
width: 129px;
background-position: -291px 0;
}
#a4 {
width: 138px;
background-position: -420px 0;
}

#bcf_logo {
	visibility: hidden !important;
}
